
body {
    font-family: 'Montserrat', sans-serif;
}


.font-cursive {
    font-family: 'Dancing Script', cursive;
}


.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2rem;
    font-weight: 700;
}

#hero {
    height: 100vh;
    background-image: url('/imagens/img-fundo-menu.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #020202;
    padding-top: 70px; 
}

#hero h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

#hero h1 .chef-text {
    font-family: 'Dancing Script', cursive;
    font-size: 4.5rem;
    color: #d9534f; 
}

#hero h1 .voce-text {
    text-decoration: underline;
    text-decoration-color: #f0ad4e;
    text-decoration-thickness: 3px;
}


.full-width-img {
    width: 100%;
    height: auto;
}

.content-section {
    padding: 60px 0;
}


.content-section .font-cursive {
    font-size: 2.5rem;
}

.footer-social-icons .bi {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #555;
}